:root {
--primary-black: #333A3F;
--primary-blue: #274fc9;
}

/* Style normalization */

*{
padding: 0px;
margin: 0px;
}


html{
width: 100vw;
height: 100vh;
padding: 0px;
margin: 0px;
}

section{
width: 100vw;
}

#root{
padding-left: 0px;
padding-right: 0px;
}

form {
width: auto;
}

#loginForm, #signupFormDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    padding: 10px;
}